import init.recovery.mtk_decrypt.rc

on init
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    symlink /dev/block/by-name/lk1 /dev/block/by-name/bootloader1
    symlink /dev/block/by-name/lk2 /dev/block/by-name/bootloader2

on fs
    wait /dev/block/platform/soc/112b0000.ufshci
    symlink /dev/block/platform/soc/112b0000.ufshci /dev/block/bootdevice

# Filesystem mounting
on late-fs
    mount_all /first_stage_ramdisk/fstab.mt6878 --late

on post-fs
    start boot-hal-1-2

on boot
    start health-hal-2-1

# Preloader symlinks
on property:persist.vendor.mtk.pl_lnk=1
    symlink /dev/block/mapper/pl_a /dev/block/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/by-name/preloader_raw_b
    symlink /dev/block/mapper/pl_a /dev/block/platform/bootdevice/by-name/preloader_raw_a
    symlink /dev/block/mapper/pl_b /dev/block/platform/bootdevice/by-name/preloader_raw_b

# Fix for UFS support in recovery mode
on property:vendor.mtk.boot0_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot0
on property:vendor.mtk.boot0_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot0
on property:vendor.mtk.boot1_linka=1
    symlink /dev/block/sda /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkb=1
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
on property:vendor.mtk.boot1_linkc=1
    symlink /dev/block/sdc /dev/block/mmcblk0boot1